* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header img {
    max-width: 40px;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: block;
    margin: 10px 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #45a049;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.5em;
    color: #4CAF50;
    margin-bottom: 10px;
}

section p {
    font-size: 1em;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #4CAF50;
}

#map{
    padding-left: 30%;
}




@media (min-width: 600px) {
    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        display: inline-block;
        margin: 0 10px;
    }
}

@media (min-width: 800px) {

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 50px;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 20px 50px;
        background-color: #333;
        z-index: 1000;
    }

    body {
        padding-bottom: 60px;
    }

    .footer-left, .footer-right {
        display: flex;
    }

    .footer-left a, .footer-right a {
        margin: 0 10px;
    }
}
